.page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100dvw;
}

.half-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 50%;
    height: 100%;
}

.history {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 90%;
    gap: 10px;
    padding: 25px;
    background-color: #202020;
    overflow-y: scroll;
    scrollbar-width: none;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.active-button {
    width: 100%;
    height: 100%;
    background-color: #500000;
}

.inactive-button {
    width: 100%;
    height: 100%;
}

.recipe-textarea {
    width: 100%;
    height: 100%;
    padding: 25px;
    background-color: #202020;
    scrollbar-width: none;
}

.assistant-result {
    color: #FF6060;
}

.user-result {
    color: white;
}